.navbar{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul li{
    display: inline-block;
    margin: 0 12px;
    padding: 10px 14px;
    border: 2px solid var(--border-color);
    border-radius: 30px;
    color: var(--text-color);
}
.ri-sun-line{
    font-size: 20px;
}
.navbar ul li a{
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
}
.navbar-btn{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-color);
}
#nav_ThemeBtn{
    display: none;
    color: var(--text-color);

}
@media screen and (max-width:1400px) {
    .navbar ul li a span{
        display: none;
    }    
}
@media screen and (max-width:1100px) {
    .navbar-btn{
        display: none;
    }
    .navbar{
        justify-content: center;
        position: fixed;
        top: 80%;
        left: 25%;
        width: fit-content;
        background-color: #e6ebf468;
        border-radius: 30px;
        padding: 0 10px ;
        backdrop-filter: blur(8px);
        border: 0.1px solid var(--border-color);
    }
    #nav_ThemeBtn{
        display: inline-block;
    }
}
@media screen and (max-width:900px){
    .navbar ul li {
        padding: 10px 12px;
    }
    
}
@media screen and (max-width:768px){
    .navbar{
        left: 20%;
    }
}
@media screen and (max-width:545px){
    .navbar ul li {
        margin: 0 5px;
    }
    .navbar{
        left: 15%;
    }
}
