.Education{
    display: flex;
    justify-content:space-between;
    height: auto;
    align-items: center;
    width: 100%;
    border-top: 0.5px solid var(--border-color);
    border-bottom: 0.5px solid var(--border-color);
    color: var(--text-color);
    padding: 20px;
    line-height: 40px;
    letter-spacing: 0.5px;
}
.education-wrapper h1{
    margin-bottom: 30px;
    color: var(--text-color);
    font-size: 20px;
}
.Education h2{
    font-size: 20px;
    margin-right: 30px;
}
.Education h3{
    font-size: 20px;
    margin-right: 30px;
}
.Education p{
    font-size: 20px;
}

.skills-container {
    max-width: 100%;
    color: var(--text-color);
    
  }
  
  .skills-container  h1 {
    margin-bottom: 30px;
    border-bottom: 0.5px solid var(--border-color);
    padding-bottom: 30px;
    font-size: 20px;
  }
  
  .skill {
    margin-bottom: 30px;
    border-bottom: 0.5px solid var(--border-color);
  }
  
  .skill-name {
    font-weight: bold;
    font-size: 15px;
    display: block;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 30px;
  }
  
  .skill-bar {
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    height: 20px;
    position: relative;
    margin-bottom: 25px;
    margin-left: 30px;
  }
  
  .skill-percentage {
    background: var(--gradient-text);
    height: 100%;
    color: white;
    text-align: right;
    padding-right: 10px;
    line-height: 25px; 
    border-radius: 10px;
  }
  
@media screen and (max-width:800px) {
    .Education{
        display: block;
    }
}