.profile-wrapper{
    min-height: 80vh;
    width: 360px;
    padding: 30px;
    position: fixed;
    top: 10%;
    left: 5%;
    border: 2px solid var(--border-color);
    border-radius: 18px;
}
.profile-wrapper .profile-img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.profile-wrapper .profile-img img{
    height: 100%;
    width: 100%;
    border-radius: 18px;
}