.profile-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80vh;
    width: 360px;
    padding: 50px 30px;
    position: fixed;
    top: 10%;
    left: 5%;
    border: 1px solid var(--border-color);
    border-radius: 18px;
}
.profile-wrapper h2{
    font-size: 32px;
    color: var(--text-color);
    letter-spacing: 0.5px;
}
.profile-wrapper .profile-social-link{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.profile-wrapper .profile-social-link .profile-social-icons{
    display: flex;
    gap: 20px;
}
.profile-wrapper .profile-social-link i{
    height: 50px;
    width: 50px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid var(--border-color);
    color: var(--text-color);
    transition: .6s;
}
.profile-wrapper .profile-social-link i:hover{
    transform: translateY(-6px);
}
.profile-wrapper .profile-img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.profile-wrapper .profile-img img{
    height: 100%;
    width: 100%;
    border-radius: 18px;
}
.profile-wrapper button{
    width: 100%;
    font-size: 20px;
}
@media screen and (max-width:1400px) {
    .profile-wrapper{
        left: 1%;
    }
}
@media screen and (max-width:1100px) {
    .profile-wrapper{
        position: static;
        margin: 50px 12%;
    }
}